button{
    background-color: white;
    margin-bottom: 15px;
    border: none;

}

input{
    border-radius: 10px;
    border: .5px solid black;
    margin-right: 5px;
}

label{
    font-size: 20px;
}

.error_class{
    color: red
}